<div class="centered-content">
    @if (alert) {
        <div class="change-container">
            <div class="helmet-icon-red">

            </div>
            <div class="infobox-crash">
                <h2>Höchstwert</h2>
                <h3>{{maxValueCrash/10 | number: '1.1-1'}}G</h3>
                <h2>Status</h2>
                <h3>ALARM</h3>
            </div>
        </div> 
    } @else {
        <div class="change-container">
            <div class="helmet-icon-green">

            </div>
            <div class="infobox-ok">
                <h2>Letzter Messwert</h2>
                <h3>{{maxValue/10 | number: '1.1-1'}}G</h3>
                <h2>Status</h2>
                <h3>OK</h3>
            </div>
        </div>
    }
    <div class="button-container">
        <button class="reset-button" [disabled]="!alert" (click)="alert = false"> RESET </button>
    </div>
    
</div>


