<div class="centered-content">
    @if (alert) {
        <div class="alert">
            <h1>The helmet has crashed</h1>
            <h2>Shock of {{(maxValueCrash/10 | number: '1.1-1')}}G was measured</h2>
        </div>
        <div class="footer">
            <button class="button" role="button" (click)="alert = false">Reset</button>
        </div>
        
        
    } @else {
        <div>
        <h2>Current biggest shock:</h2>
        <!-- <p>Max_X: {{sensorData.Max_X}}</p>
        <p>Max_Y: {{sensorData.Max_Y}}</p>
        <p>Max_Z: {{sensorData.Max_Z}}</p> -->
        <p>{{(maxValue/10 | number: '1.1-1')}}G</p>

    </div>
    }
</div>


