.titlebar {
    top: 0;
    left: 0;
    right: 0;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: purple;
    font-weight: 600;
  }
  .content {
    display: flex;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: clip;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100dvh;
    max-width: 100dvw;
    background-image: url('https://cdn-icons-png.flaticon.com/512/838/838958.png');
    background-size: 90dvw;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
